*{
    background-image: url(guardians-of-the-galaxy-wallpaper-960x540_43.jpg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 100%;
    cursor: url(img/casete.png), auto;
    font-size: 30px;
    font-family: 'Righteous', cursive;
    text-shadow: 0px 0px 40px rgba(245, 112, 34, 0.81);
    text-align: center;
    color:rgb(55, 158, 172);
}
h1{
    color: rgb(249, 207, 229);
    text-align: center;
    font-size: 55px;
    font-family: 'Sigmar', cursive;
    text-shadow:  0px 0px 30px rgb(13, 13, 13);
    letter-spacing: 7px;
}
.contenedor img{
    width: 100%;
}
li{
    font-family: 'Righteous', cursive;
    color: aliceblue;
    font-size: 40px;
    list-style: none;
    padding-top: 50px;
} 
.botonsito{
    margin-top: 60px;
    margin-left: 5%;
    padding: 7px;
    border-radius: 10px;
    text-align: center;
    width: 18%;
    color: rgb(164, 58, 23);
    background: rgba(235, 148, 85, 0.989);
    text-shadow: 0px 0px 30px rgb(4, 49, 64);
    transition: 1s ease;
}
.botonsito:hover{
    margin-top: 60px;
    margin-left: 5%;
    padding: 7px;
    border-radius: 10px;
    text-align: center;
    width: 20%;
    color: rgb(164, 58, 23);
    text-shadow: 0px 0px 30px rgb(4, 49, 64);
    cursor: url(img/cursor-de-mano.png),auto;
    box-shadow: 0px 0px 40px rgba(235, 148, 85, 0.989);;
}